@font-face {
     font-family: 'bpg_web_001_caps';
    src: url('../fonts/bpg_web_001_caps.eot');
    src: url('../fonts/bpg_web_001_caps.eot') format('embedded-opentype'),
         url('../fonts/bpg_web_001_caps.woff2') format('woff2'),
         url('../fonts/bpg_web_001_caps.woff') format('woff'),
         url('../fonts/bpg_web_001_caps.ttf') format('truetype'),
         url('../fonts/bpg_web_001_caps.svg#bpg_web_001_caps') format('svg');
}
@font-face {
    font-family: 'BPGDejaVuSans';
    src: url('../fonts/BPGDejaVuSans.eot');
    src: url('../fonts/BPGDejaVuSans.eot') format('embedded-opentype'),
         url('../fonts/BPGDejaVuSans.woff2') format('woff2'),
         url('../fonts/BPGDejaVuSans.woff') format('woff'),
         url('../fonts/BPGDejaVuSans.ttf') format('truetype'),
         url('../fonts/BPGDejaVuSans.svg#BPGDejaVuSans') format('svg');
}